In [9]:
# ANS 1
# WHILE LOOP
#we use while loop , when we have to iterate some variable with a specific condition
#for example , in above question we have a condtion that number should not be less than 10
#we are allowing the loop to iterate , until number is less than 10
number = int(input("Enter the number "))
counter = 0
while number > 10: 
    number = number / 3 
    counter = counter + 1 
print(counter)

#FOR LOOP
# we use for loop ,in case when we have to iterate something in a specific range of order .
# range can anything like , from a particular number to any number , list , set etc.
#but the for loop will iterate completely within the given range.
# for example
n = int(input("enter the number"))
for i in range(0,n):
    print(i)

Enter the number  45

2

enter the number 6

0
1
2
3
4
5

In [10]:
#ANS 2 using while loop
sum1 = 0
product = 1
for i in range(1,11):
    sum1 = sum1 + i
    product = product * i
print("sum of first natural numbers are:" , sum1)
print("product of first natural numbers :" , product)


#Using while loop
sum1 = 0
product = 1
n = 1
while n <= 10 :
    sum1 = sum1 + n
    product = product * n
    n = n+1
print("sum of first natural numbers are:" , sum1)
print("product of first natural numbers :" , product)

sum of first natural numbers are: 55
product of first natural numbers : 3628800
sum of first natural numbers are: 55
product of first natural numbers : 3628800

In [11]:
# ANS 3:
units = int(input("Enter the units of eletricity consumed :"))
elec_cost = 0
if units <= 100:
    elec_cost = units * 4.5
elif units > 100  and units <= 200 :
    r = units % 100
    elec_cost = (r*6) + (100*4.5)
elif units > 200 and units <= 300:
    r = units % 200
    elec_cost = (r*10) + (100*6) + (100*4.5)
else:
    r = units % 300
    elec_cost = (r*20) + (100*10) + (100*6) + (100*4.5)

print("electricity cost will :" , elec_cost)

Enter the units of eletricity consumed : 310

electricity cost will : 2250.0

In [12]:
#ANS 4:
l=[]
for i in range(1,101):
    l.append(i**3)
#print(l)
l2=[]
for i in l:
    if i%4==0 or i%5==0:
        l2.append(i)
print(l2)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [13]:
# ANS 5
string = "I want to become a data scientist"
counter = 0
for z in range (len(string)):
    if string[z]=="a" or string[z]==("e") or string[z]==("i" ) or string[z]==("o") or string[z]==("u") :
        counter = counter + 1
print("no. of vowels in a given string is :" , counter)

no. of vowels in a given string is : 11